<h1>New Copy</h1>

 <%= simple_form_for @copy, url: "#", html: {id: 'newCopyForm' } do |f| %>
  <div class="modal-body">

    <div class="bookInfo"></div>

      <%= f.association :book,  input_html: { id: 'bookid' }, label_method: :title, value_method: :id, class: "booktitle", id: "booktitle" %>
      <%= f.association :library, :collection => Library.where('user_id' => @user.id), label_method: :title, value_method: :id, include_blank: false %>
      <%= f.input :library_id, input_html: { id: 'libraryid' }, label_method: :second, value_method: :first %>
      <%= f.input :bookowner, input_html: {value: @user.email} %>
      <%= f.label :status %> &nbsp; &nbsp; &nbsp;
      <%= f.select :status, options_for_select(Copy::STATUSES) %>
      <br />
      <%= f.input :notes %>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Add Copy" %>
  </div>
  <% end %>