<div class="text-right" id="searchplace">
</div>

<h1 class="text-center DashTitle">Add A Book</h1>

<div id="content">
  <div class="text-center">
    <form id="searchbar">
      <input type="text" id="isbn" placeholder="Search">
      <button type ="submit">
        Search
      </button>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="modal-title"></h4>
      </div>
      <%= simple_form_for @copy, url: "#", html: {id: 'newCopyForm' } do |f| %>
      <div class="modal-body">
        <div id="bookInfo"></div>

          <%= f.association :book,  input_html: { id: 'bookid' }, label_method: :title, value_method: :id, class: "booktitle", id: "booktitle" %>
          <%= f.association :library, :collection => Library.where('user_id' => @user.id), label_method: :title, value_method: :id, include_blank: false %>
          <%= f.input :bookowner, input_html: {value: @user.email} %>
          <%= f.label :status %> &nbsp; &nbsp; &nbsp;
          <%= f.select :status, options_for_select(Copy::STATUSES) %>
          <br />
          <%= f.input :notes %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add Copy" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

    <script>
      function handleResponse(response) {
        document.getElementById("searchplace").innerHTML = "<form id='searchbar'><input type='text' id='isbn' placeholder='Search'><button type ='submit'>Search</button></form>";
      for (var i = 0; i < response.items.length; i++) {
        var item = response.items[i];
        if (item.volumeInfo.subtitle === undefined) {var mySubtitle =''} else {var mySubtitle =item.volumeInfo.subtitle};
        var myBookID = String(item.id);
        var myAuthors = String(item.volumeInfo.authors);
        var myAuthors = myAuthors.replace(/,/g,', ');

        if (item.volumeInfo.imageLinks === undefined) { var bookThumb ="<tr><td rowspan='3'>Image Unavailable</td><td>"} else {

          if (item.volumeInfo.imageLinks.thumbnail === undefined) { var bookThumb = "<tr><td rowspan='3'>Image Unavailable</td><td>"} else {var bookthumb = "<tr><td rowspan='3'><img src='" + item.volumeInfo.imageLinks.thumbnail + "'></td><td>"};
        };

        document.getElementById("content").innerHTML += "<br><div class='frosted-box col-10 offset-1'><br /><div class='bookInfo'><table class='bookdisplay' cellpadding='5'><tr><td colspan='2'><h3>" + item.volumeInfo.title + "</h3></td></tr><tr><td colspan='2'>" + mySubtitle + "</td></tr>" + bookthumb + myAuthors + "</td></tr><tr><td>" + item.volumeInfo.publisher + " - " + item.volumeInfo.publishedDate +"</td></tr><tr><td rowspan='2'>" + item.volumeInfo.description + "</td></tr><tr><td valign='top'><button class='btn btn-info' onclick='submitBook(`"+myBookID+"`);' id='addbook'>Add To Library</button></td></tr></table><br /></div><br /></div>"; 
      }
    }
    </script>
   
    <script type="text/javascript">

      function sleep(milliseconds) {
        const date = Date.now();
        let currentDate = null;
        do {
          currentDate = Date.now();
        } while (currentDate - date < milliseconds);
      }

        function submitBook(bookid) {
          console.log(bookid);
        var myVolume = "https://www.googleapis.com/books/v1/volumes/" + bookid;
        var request = new XMLHttpRequest();
        request.open('GET', myVolume, true)
        request.onload = function() {
          var data = JSON.parse(this.response);
          var payload = ""
          if (request.status >= 200 && request.status < 400) {
            if (data.volumeInfo.subtitle === undefined) {var mySubtitle =''} else {var mySubtitle =data.volumeInfo.subtitle};
            var myAuthors = String(data.volumeInfo.authors);
            var myAuthors = myAuthors.replace(/,/g,', ');
            var myISBN = String(data.volumeInfo.industryIdentifiers[0].identifier)
            var payload = {
              book: {
                "title": String(data.volumeInfo.title),
                "subtitle": mySubtitle,
                "book_id": bookid,
                "isbn": myISBN,
                "author": myAuthors,
                "publisher": String(data.volumeInfo.publisher),
                "published_date": Date(data.volumeInfo.publishedDate),
                "description": String(data.volumeInfo.description),
                "page_count": Number(data.volumeInfo.pageCount),
                "cover_image_small": String(data.volumeInfo.imageLinks.thumbnail),
                "cover_image_large": String(data.volumeInfo.imageLinks.large)
              }
            };
              console.log(payload)
              $.post("/books", payload).success(function(data) {
                console.log("Successful HTTP Request");
                var linkID = data.id;
                $("#copyModal").modal()
                $('#modal-title').html(data.title);

              }).error(function(data) { 
                console.log(data)
                console.log(bookid)
              });
          } else {
            console.log('error')
          }
        };
         request.send();
      };

    </script>

    <script type="text/javascript">
      $('#searchbar').submit(function(event) {
        event.preventDefault();
        var isbn = document.getElementById('isbn').value;
        var searchTerms = isbn.replace(/ /g, "+");
        var callAPI = "https://www.googleapis.com/books/v1/volumes?q="+ searchTerms +"&callback=handleResponse";

        document.getElementById("content").innerHTML = ""

       var head= document.getElementsByTagName('head')[0];
       var script= document.createElement('script');
       script.type= 'text/javascript';
       script.src= callAPI;
       head.appendChild(script);
      });

    </script>
    <br />
  </body>