<h1 class="text-center DashTitle">My Libraries</h1>
<% current_user.libraries.each do |library| %>
  <div class = "frosted-box col-10 offset-1">
    <br />
    <div class="row text-left editbuttons">
      <div class="library-actions float-right">
        <% if current_user && current_user == library.user %>
          <%= link_to 'Edit', edit_librarian_library_path(library) %>
          &nbsp; &nbsp;
          <%= link_to 'Delete', librarian_library_path(library), method: :delete, data: {confirm: 'Are you sure you want to delete this library?'} %>
          &nbsp; &nbsp;
          <%= link_to 'Show Library', librarian_library_path(library) %>
        <% end %>
      </div>
    </div>
    <h2 class="text-center"><%= link_to library.title, librarian_library_path(library), class: "LibraryTitle" %></h2>
    <hr class="mystyle" />
    <div class= "container">
      <div class ="row text-center">
        <div class = "col-12 LibraryDescrip">
          <%= library.description %>
        </div>
      </div>
      <br />
      <div class="row text-center rowheader">
        <div class="col-4">
          Location
        </div>
        <div class="col-4">
          Library Type
        </div>
        <div class="col-4">
          Books in <%= library.title %>
        </div>
      </div>
      <br />
      <div class="row text-center myinfo">
        <div class="col-4">
          <%= library.location %>
        </div>
        <div class="col-4">
          <%= library.librarytype %>
        </div>
        <div class="col-4">
          Count of Books
        </div>
      </div>
    </div>
    <br />
  </div>
  <br />
<% end %>

